// Multi-item box component styling
//
// Provides styling for the multi-item view when multiple items are selected


multi-info-box {

  .indigo-citations-container {
    background: var(--material-background70);
    padding: .5em;
  }
  .zotero-button {
    background: var(--material-background);
    border: 1px solid var(--text-color);
    max-height: inherit;
    margin: inherit;
    &:hover {
      background: var(--material-background70);
      cursor: pointer;
    }
    &:active {
      background: var(--material-background);
      cursor: pointer;
    }
    &:disabled {
      color: var(--material-button);
      opacity: 0.5;
    }
  }


  .tag-chip {
    background: var(--button-background-color-primary-disabled);
    display: inline-block;
    margin: .25em .5em;
    padding: 0 4px;
    border-radius: .2em;
  }
  .tag-delete-button {
    width: 1em;
    height: 1em;
    display: inline-block;
    border: 1px solid;
    vertical-align: baseline;
    text-align: center;
    line-height: .8em;
    border-radius: .2em;
    margin-left: .25em;
    background: var(--material-background50);
  }
  .tag-delete-button:hover {
    background: var(--accent-red);
    cursor: pointer;
  }


}